*{
    margin: 0;
    padding: 0;
    font-family: "Signika Negative", sans-serif;
}


header{
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    border-bottom: 1.6px solid rgb(241, 241, 241);
}

header::before{
    content: "";
    background-image: url("../assets/photo-1541462608143-67571c6738dd.jpeg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: auto;
    width: 94%;
    position: absolute;
    inset: 0 0 0 3%;
    opacity: .1;    
    z-index: -1;
}

header img{
    height: 70px;
    aspect-ratio: 3.6/1;
    /* margin-top: 10px; */
    z-index: -2;
}

header .btn-h1-ul{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: clamp(10px, 8vw, 120px);
}

header .btn-h1-ul h1{
    height: 50px;
    word-break: normal;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #000000bd;
    z-index: -1;
    /* margin-top: 10px; */
}

header .btn-h1-ul ul{
    display: flex;
    gap: 20px;
    /* margin-top: -100px;
    margin-bottom: -40px; */
}

header .btn-h1-ul ul li{
    list-style: none;
}

.btn-h1-ul ul li a img{
    box-shadow: 0 1px 6px 0 #20212447;
    border-radius: 15px;
    object-fit: cover;
    height: 30px;
    width: 30px;
}
header .btn-h1-ul .portal-btn{
    background-color: transparent;
    border: none;
}
header .btn-h1-ul .portal-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #0d6db7;
    background-color: transparent;
    border-radius: 100px;
    padding: 6.8px 17px 6.8px 17px;
    font-size: 14px;
    font-weight: 400;
    color: #0d6db7;
    /* margin-top: 10px; */
    text-decoration: none;
}

header p{
    color: #666666e2;
    font-size: 15px;
    font-weight: 400;
    /* margin-top: 6px; */
}


/* Form */

.main-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    min-width: 320px;
    width: 100%;
    max-width: 900px;
    padding: 12.8px;
    box-sizing: border-box;
    gap: 6px;
    margin: 0 auto;
}

.main-form .form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 6px 14px;
}

.main-form .form-group label{
    font-size: 14px;
    color: #0d6db7 !important;
    direction: ltr !important;
    margin-top: 10px;
}

.main-form .form-group input{
    padding: 15px;
    height: 22px;
    min-width: 262px;
    width: 81.87vw;
    max-width: 362px;
    border: 0.666px solid #8dc63f;
    border-radius: 5px;
    background: transparent;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.521);
}


.main-form .form-group input:focus{
    border: 0.666px solid #0d6db7;
    outline: none;
}
.main-form .form-group select:focus{
    border: 0.666px solid #0d6db7;
    box-shadow: 0px 0px 0px 2px #5eaeeb50;
    transition: box-shadow .2s ease;
}

.main-form .form-group select{
    padding: 15px;
    height: 54px;
    width: 91.87vw;
    max-width: 394px;
    min-width: 294px;
    border: 0.666px solid #8dc63f;
    border-radius: 5px;
    background: transparent;
}

select option{
    color: #000;
    font-weight: 400;
    font-size: 14px;
    background-color: #f6f6f6;    
    border-radius: 0px;
}

select:invalid{
    color: gray;
    font-size: 14.2px;
}

select:valid{
    font-size: 14.2px;
    color: black;
}

#dob{
    color: rgba(0, 0, 0, 0.763);
}

.main-form button[type="submit"]{
    margin-top: -10px;    
    color: white;
    background-color: #0d6db7;
    border: none;
    border-radius: 5px;
    height: 41px;
    min-width: 294px;
    width: 60%;
    max-width: calc(294px + 262px);
}

.main-form button[type="submit"]:hover{
    background-color: #0674c7;
    cursor: pointer;
    transition: background-color .25s ease;
}



#image-upload{
    flex-direction: row;
    height: 160px;
    min-width: 320px;
    width: 410px;
    padding: 12.8px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 8px ;
}

.image-container .file-wrapper{
    position: relative;
}

.image-container .file-wrapper div{
    position: absolute;
    left: 0;
    background-color: #fafafa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110px;
    width: 100px;
    border-radius: 8px;
    text-align: center;
    color: rgb(78, 78, 78);
    padding-top: 46px;
    box-sizing: border-box;
    
}

.image-container .file-wrapper input{
    all: unset;
    height: 110px;
    width: 100px;
    border-radius: 8px;
    border-radius: 8px;
    background: transparent;
    position: absolute;
    left: 0;
    color: transparent;
}

.image-container .file-wrapper input::file-selector-button{
    height: 110px;
    width: 100px;
    border: none;
    border-radius: 8px;
    background: transparent;
    left: 0;
    z-index: 3;
    position: absolute;
    color: transparent;
    border: 1.2px solid #ebebeb;
    
}

.image-container .file-wrapper input::file-selector-button:hover{
    cursor: pointer;
    border: 1.2px dashed #0d6db7;
    transition: border .5s ease;

}

#image-upload p{
    font-size: 12px;
    line-height: 18px;
    margin-top: 50px;
    color: rgb(86, 86, 86);
}

/* Tab Buttons */

.tab-slider .id-btn{
    border-top: 1.4px solid rgb(241, 241, 241);
    border-right: 1.4px solid rgb(241, 241, 241);
    border-left: 1.4px solid rgb(241, 241, 241);
    border-bottom: none;
    color: #0d6db7;
    background-color: rgb(250, 250, 250);
    padding: 10px 14px;
    cursor: pointer;
    font-size: 14px;
}

.tab-slider .registration-btn{
    border-top: 1.4px solid rgb(241, 241, 241);
    border-right: 1.4px solid rgb(241, 241, 241);
    border-left: 1.4px solid rgb(241, 241, 241);
    border-bottom: none;
    color: #8dc63f;
    background-color: #fff;
    padding: 10px 14px;
    cursor: pointer;
    font-size: 14px;
}


/* ID Card */

.id-form{
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    min-width: 320px;
    width: 100vw;
    max-width: 900px;
    padding: 12.8px;
    box-sizing: border-box;
    gap: 6px;
    margin: 0 auto;
    display: none;
}

.id-form .form-group{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 8px;
    width: 81.66vw;
    max-width: 540px;
}

.id-form .form-group label{
    font-size: 14px;
    color: #0d6db7 !important;
    direction: ltr !important;
    margin-top: 10px;
}

.id-form .form-group input{
    padding: 15px;
    height: 54px;
    /* min-width: 262px; */
    width: 81.66vw;
    max-width: 540px;
    border: 0.666px solid #8dc63f;
    border-radius: 5px;
    background: transparent;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.521);
    box-sizing: border-box;
}


.id-form .form-group input:focus{
    border: 0.666px solid #0d6db7;
    outline: none;
}
.id-form .form-group select:focus{
    border: 0.666px solid #0d6db7;
    box-shadow: 0px 0px 0px 2px #5eaeeb50;
    transition: box-shadow .2s ease;
}

.id-form button[type="submit"]{
    color: white;
    background-color: #0d6db7;
    border: none;
    border-radius: 5px;
    height: 41px;
    /* min-width: 294px; */
    width: 80vw;
    max-width: 540px;
}

.id-form button[type="submit"]:hover{
    background-color: #0674c7;
    cursor: pointer;
    transition: background-color .25s ease;
}

/* table */

table{
    height: auto;
    width: 81.66vw;
    max-width: 540px;
    margin: 0 auto;
    border-collapse: collapse;
    display: none;
}

table thead{
    width: 100%;
    max-width: 540px;
    background-color: #faf8f8;
}

tbody tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    text-align: left;
    height: 55px;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 0px 10px;
}

thead tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    text-align: left;
    height: 48px;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 0px 10px;

}

thead tr th{
    padding: 0px 8px;
    font-weight: 400;
    font-size: 13.6px;
    color: #323232;
    box-sizing: border-box;
}

tbody{
    width: 100%;
    max-width: 540px;
}

tr td{
    font-size: 14px;
    font-weight: 400;
    color: #323232;
}

tbody tr td .id-download{
    padding: 8px 12px;
    color: white;
    background-color: #0d6db7;
    font-size: 12px;
    border: none;
    border-radius: 4.5px;
    margin-left: 10px;
}

.id-download:hover{
    background-color: #0674c7;
    cursor: pointer;
    
}